:root{
  --white:#fff;
  --darkblue:#070724;
  --turqoist:#1EC1A2;
  --blue:#2D68F0;
  --midnightblue:#38384F;
  --lightblue:#419EBB;
  --purple:#6D2ED5;
  --gray:#838391;
  --organge:#CD5120;
  --burnorgange:#D14C32;
  --red:#D83A34;
  --yellow:#EDA249;
  --antoniofont: font-family: 'Antonio', sans-serif;
  --spartan:'League Spartan', sans-serif;
}
* {
margin:0;
padding:0;
box-sizing: border-box;
/* outline:1px solid pink; */
}
main, body{
  color:var(--white);
  /* min-height: 100%; */
  background-color: var(--darkblue);
  background-image: url('/img/background-stars.svg');
}
/* mobile menu */
.hidden, .hiddenimg{
  display: none;
}
.visible{
  display: block;
  position:absolute;
  width:100%;
  height:100%;
  z-index: 12;
  background-color: var(--darkblue);
}
.nav{
  display: block;
}
.nav button{
  border:1px solid transparent;
  outline: 1px solid transparent;
  background-color: transparent;
}
#logo{
  margin-right:auto;
  color: #FFF;
  opacity: 1;
  font-size: 1.75rem;
  font-family:var(--antoniofont);
  letter-spacing: -0.06563rem;
  border-top:none;
  width:100%;
  padding-bottom: 3rem;
}
.nav button{
  color: #FFF;
  opacity: 0.75;
  font-size: 1rem;
  font-family: var(--spartan);
  font-weight: 700;
  line-height: 1.5625rem;
  letter-spacing: 0.08525rem;
  text-transform: uppercase;
  border-top:.0625rem solid grey;
  border-bottom: .0625rem solid grey;
  display: grid;
  place-content: center;
  justify-content:left;
  padding:2rem;
  height:4.3rem;
  width:88%;
  margin:auto;
}
.nav-link {
  color: #fff;
}
.nav-link:hover{
  color:#fff;
}
.nav-link:focus{
  color:#fff;
}
.nav button::before{
content: '';
width: 1.25rem;
height: 1.25rem;
border-radius: 20px;
position: relative;
top:1.7rem;
left:-1.5rem;
}
.nav button:nth-child(1){
  border-top:none;
}
.nav button:nth-child(1):not(#logo):before{
  background: #DEF4FC;
}
.nav button:nth-child(2):before {
  background-color: #F7CC7F;
}
.nav button:nth-child(3):before {
    background: #545BFE;
}
.nav button:nth-child(4):before {
    background: #FF6A45;
}
.nav button:nth-child(5):before {
  background: #ECAD7A;
}
.nav button:nth-child(6):before {
    background: #FCCB6B;
}
.nav button:nth-child(7):before {
  background: #65F0D5;
}
.nav button:nth-child(8):before {
  background: #497EFA;
}
.menu{
  position: absolute;
  top:-.4rem;
  right:2rem;
  padding:1rem;
}
.menu button{
  border-bottom:none;
}
.menu button::before{
  content:'';
  display: none;
}
/* mobile menu */

/* body */
.planetfacts div {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin: 1rem auto;
   width: 20.4375rem;
   height: 3rem;
   flex-shrink: 0;
   border: 1px solid rgb(255, 255, 255, .20000000298023224);
  }
.planetfacts p {
    color: #FFF;
    font-size: 1.25rem;
    font-family: Antonio;
    letter-spacing: -0.09375rem;
    text-transform: uppercase;
    margin:0;
  }
        
 .planetfacts span {
     color: rgb(255, 255, 255, .5);
    font-size: 0.6875rem;
    font-family: var(--spartan);
    font-weight: 700;
    line-height: 1.5625rem;
    letter-spacing: 0.0625rem;
    text-transform: uppercase;
  }
  .planetslider{
    /* width:96%; */
    padding:0 .6rem 6rem;
    display: grid;
    place-content: center;
    justify-content:space-between;
  }
  .planetinfo a {
    color:#fff;
    text-decoration: none;
  }
/* body */
/* 
@media (width < 790)  {
  *{
    outline:5px solid green;
  }
} */

@media (width > 800px) {
  /* mobile menu */
  .mobile{
    display: none;
  }
  .hidden{
    display: flex;
  }
 .visible {
    display: flex;
  }
  .visibleimg{
    display: flex;
  }
  /* mobile menu */
.nav {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: right;
}
#logo{
  width:auto;
  padding:0;
 }
 .nav button{
  font-size: 0.6875rem;
  letter-spacing: 0.0625rem;
  border:none;
  width:auto;
  margin:1rem;
  padding:0;
}
.nav, button:focus-within{
  color:#fff;
  opacity: 1;
}
.nav, button:hover {
  color: #fff;
  opacity: 1;
}
.nav button::before{
   content:'';
   display: none;
}
.nav-link{
   padding:0;
 }
.nav button:nth-child(1):hover:not(#logo){
   box-shadow: 0 -3px 0 var(--lightblue);
}
.nav button:nth-child(1):focus-within {
  box-shadow: 0 -3px 0 var(--lightblue);
}
.nav button:nth-child(2):hover {
  box-shadow: 0 -3px 0 var(--yellow);
}
.nav button:nth-child(2):focus-within {
  box-shadow: 0 -3px 0 var(--yellow);
}
.nav button:nth-child(3):hover {
  box-shadow: 0 -3px 0 var(--purple);
}
.nav button:nth-child(3):focus-within {
  box-shadow: 0 -3px 0 var(--purple);
}
.nav button:nth-child(4):hover {
  box-shadow: 0 -3px 0 var(--burnorgange);
}
.nav button:nth-child(4):focus-within {
  box-shadow: 0 -3px 0 var(--burnorgange);
}
.nav button:nth-child(5):hover {
  box-shadow: 0 -3px 0 var(--red);
}
.nav button:nth-child(5):focus-within {
  box-shadow: 0 -3px 0 var(--red);
}
.nav button:nth-child(6):hover {
  box-shadow: 0 -3px 0 var(--organge);
}
.nav button:nth-child(6):focus-within{
  box-shadow: 0 -3px 0 var(--organge);
}

.nav button:nth-child(7):hover {
  box-shadow: 0 -3px 0 var(--turqoist);
}
.nav button:nth-child(7):focus-within{
  box-shadow: 0 -3px 0 var(--turqoist);
}

.nav button:nth-child(8):hover {
  box-shadow: 0 -3px 0 var(--blue);
}
.nav button:nth-child(8):focus-within {
  box-shadow: 0 -3px 0 var(--blue);
}

        /* body */
.tab-content {
   display:block;
   margin:auto;
   max-width: 80%;
   padding:3rem 0;
 }
.planetinfo{
  width: 22.875rem;
  display: grid;
}
.planetinfo h1{
  color: #FFF;
  font-size: 5rem;
  font-family: var(--antoniofont);
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.planetinfo p{
  color: #FFF;
  font-size: 0.875rem;
  font-family: var(--spartan);
  font-weight: 400;
  font-style: normal;
  line-height: 1.5625rem;
}
.planetinfo button{
  height: 3rem;
  margin:.5rem 0;
  text-align: left;
  color: #FFF;
  font-size: 0.75rem;
  font-family: var(--spartan);
  font-weight: 700;
  line-height: 1.5625rem;
  letter-spacing: 0.16069rem;
  text-transform: uppercase;

  padding:0 2rem;
  border:1px solid rgba(255, 255, 255, 0.218);
  /* opacity: 0.20000000298023224; */
  outline:1px solid transparent;
  background-color: transparent;
}
.planetinfo button > span{
  opacity: 0.5;
  padding-right:1rem;
}
.tab-content > .active {
  display: block;
}
.tab-content > .active{
  display: flex;
  flex-direction: row;
  margin: auto;
  gap:2rem;

}
 .planetfacts div{
  display: block;
  width: 15.9375rem;
  height: 8rem;
  padding:1rem;
  text-align: left;
  margin:0 auto;
}
 .planetfacts p {
   font-size: 2.5rem;
   letter-spacing:-0.09375rem;
}              
.planetfacts span {
  font-size: 0.5rem;
  letter-spacing: 0.04544rem;
}
        /* body */
}
